matplotlib
pandas
Pillow
python-dotenv
seaborn
st_pages==1.0.1
streamlit==1.40.2
streamlit_option_menu==0.4.0
streamlit_pandas_profiling==0.1.3
ydata_profiling
setuptools
lida==0.0.14
google-generativeai
git+https://github.com/tramphan748/llmx-gemini.git#egg=llmx
