matplotlib==3.10.0
pandas==1.5.3
Pillow==11.1.0
python-dotenv==1.0.1
seaborn==0.13.2
st_pages==1.0.1
streamlit==1.40.2
streamlit_option_menu==0.4.0
streamlit_pandas_profiling==0.1.3
ydata_profiling==4.12.1
-e git+https://github.com/tramphan748/llmx-gemini.git#egg=llmx
